<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This allows us to save images into your mobile</string>
	<key>NSCameraUsageDescription</key>
	<string>This allows us to save images into your mobile</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This allows us to save images into your mobile</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>GOOGLE_SHEETS_API_KEY</key>
	<string>AIzaSyBp4Dg4-ARNbEbaHOGJd1iHEL23sPO8G_U</string>
</dict>
</plist>
